In [53]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy.io
mat = scipy.io.loadmat("EEG/Subject1_1D.mat")

In [47]:
mat

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN, Created on: Sat Jan 27 10:48:51 2007',
 '__version__': '1.0',
 '__globals__': [],
 'readme': array(['This subject is a 21 year old, right handed male with no known medical conditions. The EEG consists of actual random movements of left and right hand recorded with eyes closed. Each row represents one electrode. The order of the electrodes is FP1 FP2 F3 F4 C3 C4 P3 P4 O1 O2 F7 F8 T3 T4 T5 T6 FZ CZ PZ. The recording was done at 500Hz using Neurofax EEG System which uses a daisy chain montage. The data was exported with a common reference using Eemagine EEG. AC Lines in this country work at 50 Hz. For further information, please contact midhatali@gmail.com'],
       dtype='<U560'),
 'left': array([[  -5.078,  -17.48 ,    2.051, ...,  -59.277,  -59.668,  -60.254],
        [  -5.078,  -18.359,  -11.426, ..., -291.016, -291.504, -270.703],
        [   7.91 ,   -8.203,   32.129, ...,  -25.391,  -20.117,  -26.172],
        ...,
        [  -6.055,  -17.773,    1.66 , ...,   33.008,   31.055,   34.375],
        [  -7.91 ,  -10.742,    2.344, ..., -149.316, -148.926, -141.113],
        [  -3.809,   -9.766,    2.344, ...,   69.727,   72.559,   79.59 ]]),
 'right': array([[  -5.762,  -10.254,  -16.309, ..., -198.73 , -212.207, -214.941],
        [   0.586,  -16.992,  -25.293, ..., -373.242, -378.711, -382.91 ],
        [   1.855,   -9.082,  -12.695, ...,  -11.133,  -36.035,  -26.855],
        ...,
        [  -3.613,   -4.395,   -6.445, ...,  -99.707, -117.969, -121.094],
        [  -4.688,  -10.937,  -20.605, ..., -220.508, -232.52 , -237.207],
        [   2.734,    0.684,  -10.254, ...,  112.891,  103.125,  100.391]]),
 'baseline': array([[ -41.016,   -9.375,   -1.172, ..., -271.582, -274.707, -282.227],
        [ -20.605,   -4.492,   11.23 , ..., -324.512, -322.852, -324.121],
        [ -36.523,  -30.078,   -7.715, ...,   97.266,   93.555,   86.133],
        ...,
        [ -31.641,    0.   ,    2.441, ...,  -67.383,  -74.121,  -82.227],
        [ -17.578,    2.441,   12.402, ..., -263.379, -269.043, -278.418],
        [ -12.207,   10.352,   19.434, ...,   92.285,   90.43 ,   78.809]])}

In [48]:
numpy_left = mat['left']
numpy_right = mat['right']

numpy_left = numpy_left.reshape(-1,19)
numpy_right = numpy_right.reshape(-1,19)

left = pd.DataFrame(numpy_left, columns=['FP1', 'FP2', 'F3', 'F4', 
                                          'C3', 'C4', 'P3', 'P4', 
                                          'O1', 'O2', 'F7', 'F8', 
                                          'T3', 'T4', 'T5', 'T6', 
                                          'FZ', 'CZ', 'PZ'])

right = pd.DataFrame(numpy_right, columns=['FP1', 'FP2', 'F3', 'F4', 
                                          'C3', 'C4', 'P3', 'P4', 
                                          'O1', 'O2', 'F7', 'F8', 
                                          'T3', 'T4', 'T5', 'T6', 
                                          'FZ', 'CZ', 'PZ'])

"The order of the electrodes is FP1 FP2 F3 F4 C3 C4 P3 P4 O1 O2 F7 F8 T3 T4 T5 T6 FZ CZ PZ."

Channels C3, C4, and CZ are usually associated with voluntary movements.

In [49]:
left_channels = left[["C3", "C4", "CZ"]]
right_channels = right[["C3", "C4", "CZ"]]

In [54]:
left_channels

           C3      C4      CZ
0      37.500  28.320  10.254
1      17.676  22.363  30.469
2      16.895  18.555  24.121
3      -3.418  -2.539  32.227
4       3.027   2.930  15.723
...       ...     ...     ...
64295  81.445  85.449  92.969
64296  86.719  87.598  93.750
64297  72.266  80.078  83.301
64298  69.922  70.312  81.641
64299  92.578  79.980  72.559

[64300 rows x 3 columns]

In [55]:
right_channels

            C3       C4       CZ
0      -35.156  -38.477  -19.727
1      -26.855  -39.160  -33.887
2        3.320  -15.820  -22.559
3        2.246  -10.937  -25.391
4       -9.082  -11.328    1.465
...        ...      ...      ...
64295   98.438  107.520  124.121
64296  102.246   98.730  110.449
64297  113.867  105.469  109.668
64298  135.352  122.266   96.094
64299  119.629  123.926  103.125

[64300 rows x 3 columns]

In [36]:
import mne
from mne import create_info
from mne.io import RawArray